@import 'base/imports';
@import url(https://fonts.googleapis.com/css?family=Chakra+Petch:300,regular,500,600,700);

:root {
  --color-linear: linear-gradient(90deg, #0cbaf1 0%, #e95ce9 100%);
  --color-1: #CA6AEB;
  --color-2: #19B5F1;

  --color-success: #00C566;
  --color-error: #FF4747;
  --color-warning: #FACC15;

  --color-grey-100: #18181B;
  --color-grey-50: #252532;
  --color-grey-1: #B0B0B2;
  --color-grey-2: #D1D1D1;
  --color-grey-white: #FFFFFF;
  --color-grey-linear: linear-gradient(90deg, #ffffff4d 0%, #ffffff00 100%);
}

::-webkit-scrollbar {
  width: 2px;
  background-color: transparent;
  border-radius: 100ch;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 100ch;
  cursor: pointer;
}
::-webkit-scrollbar-track-piece {
  cursor: pointer;
  border-radius: 100ch;
  background-color: rgba($color: #ffffff00, $alpha: 0.15);
}

[class *= "__container"], .container {
  box-sizing: border-box;
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
  min-width: 360px;
}

body {
  background-color: #18181B;
  color: #FFF;
  background-image: 
    url(../img/bg/body-top.webp),
    url(../img/bg/body-bottom.webp);
  background-blend-mode: normal;
  background-size: 
    clamp(25.938rem, 11.241rem + 42.75vw, 44.375rem) auto,
    clamp(39.813rem, 21.18rem + 54.2vw, 63.188rem) auto;
  background-position: 
    top right,
    bottom left;
}

* {
  font-family: 'Chakra Petch', sans-serif;
}

.logo {
  display: flex;
  gap: 4px;
  align-items: center;
}

@import 'blocks/light-blocks';
@import 'blocks/btn';
@import 'blocks/social';
@import 'blocks/content-footer';
@import 'blocks/nav';
@import 'blocks/clients';
@import 'blocks/video';
@import 'blocks/player-video';
@import 'blocks/popup-video';
@import 'blocks/card-service';
@import 'blocks/spoller-choose';
@import 'blocks/client-testimonial';
@import 'blocks/item-pricing';
@import 'blocks/started-pricing';
@import 'blocks/pop-article';
@import 'blocks/recent-article';

//sections
@import 'blocks/header';
@import 'blocks/footer';
@import 'blocks/hero';
@import 'blocks/advantages';
@import 'blocks/about-us';
@import 'blocks/service';
@import 'blocks/choose';
@import 'blocks/started';
@import 'blocks/testimonial';
@import 'blocks/pricing';
@import 'blocks/partners';
@import 'blocks/articles';
@import 'blocks/subscr';