.articles {
  position: relative;
  margin-bottom: 68px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -208px;
    background: url(../img/bg/grid.svg) no-repeat left bottom,
      linear-gradient(180deg, rgba(24, 24, 27, 0) 0%, rgba(24, 24, 27, 0.92) 54.04%, #18181B 100%) bottom no-repeat;
    background-blend-mode: multiply;
    background-size: auto, 100% 104px;
    z-index: -2;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    align-items: flex-end;
    gap: 32px;
    justify-content: space-between;
    margin-bottom: 72px;
  }

  &__title-wrapper {
  }

  &__title {
    margin-bottom: 12px;
  }

  &__subtitle {
  }

  &__see-all-btn {
    text-wrap: nowrap;

    &._mobile {
      margin-top: 32px;
      align-self: center;
      display: none;
    }

    @media (max-width: 600px) {
      display: none;

      &._mobile {
        display: inline-block;
      }
    }
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    row-gap: 32px;

    &::before {
      position: absolute;
      content: '';
      background: url('../img/bg/light.svg') no-repeat center / 100% 100%;
      width: 464px;
      aspect-ratio: 464 / 203;
      top: 2px;
      left: -112px;
      filter: blur(70.5px);
      z-index: -1;
    }

    @media (max-width: 1100px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__pop {
    position: relative;
    z-index: 2;
    margin-right: -46px;
    max-width: 636px;

    @media (max-width: 1100px) {
      max-width: none;
      margin-right: 0;
    }
  }

  &__recent {
    z-index: 1;
    position: relative;
    margin-right: -114px;
    max-width: 730px;

    @media (max-width: 1430px) {
      margin-right: 0;
    }
    
    @media (max-width: 1100px) {
      max-width: none;
      padding: 20px 16px;
    }
  }
}