.btn {
  position: relative;
  display: inline-flex;
  padding: 18px 38px;
  background-image: var(--color-linear);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;
  
  &::before {
    content: '';
    position: absolute;
    z-index: 2;
    inset: 0;
    background-image: var(--color-linear);
    transition: .3s ease;
    filter: blur(20px);
    opacity: 0;
  }

  span, i {
    position: relative;
    z-index: 3;
  }

  @media (any-hover: hover) {
    &:hover::before {
      opacity: 1;
    }
  }

  &_outline {
    border: 1px solid;
    border-image: var(--color-linear) 1;
    background: rgba(255, 255, 255, 0.059);

    &::before {
      background-image: var(--color-linear);
      filter: none;
    }

    @media (any-hover: hover) {
      &:hover::before {
        opacity: 1;
      }
    }
  }
}