.content-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__column {
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 16px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &__item {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: var(--color-grey-1);
    transition: .3s ease;

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-grey-white);
      }
    }
  }

  @media (max-width: 980px) {
    gap: 64px 100px;
    justify-content: flex-start;
  }
}