.hero {
  position: relative;
  padding-top: 127px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;

    @media (max-width: 840px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -252px;
    background: url(../img/bg/hero.svg) no-repeat;
    background-position: left bottom;
    z-index: -1;
  }

  &__title {
    font-size: clamp(3rem, 2.203rem + 2.32vw, 4rem);
    font-weight: 600;
    line-height: auto;
    letter-spacing: -0.5%;
    max-width: 540px;
    margin-bottom: 12px;
  }

  &__text {
    max-width: 446px;
    margin-bottom: 32px;
  }

  &__actions {
    margin-top: 42px;
    margin-bottom: 65px;
    display: flex;
    gap: 45px 75px;
    align-items: center;

    @media (max-width: 1045px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__video {
    @media (max-width: 840px) {
      position: absolute;
      bottom: 144px;
      z-index: 1;
    }
  }

  &__image {
    position: relative;
    display: flex;
    height: 626px;
    flex: 0 0 calc(526px / 1240px * 100%);

    img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: bottom center;
    }

    &::before {
      position: absolute;
      content: '';
      background: url(../img/bg/light.svg) no-repeat center / contain;
      z-index: -1;
      left: calc(-20px / 526px * 100%);
      bottom: calc(83px / 626px * 100%);
      aspect-ratio: 567 / 340;
      width: calc(567px / 526px * 100%);
      filter: blur(105px);
    }
    
    @media (max-width: 840px) {
      align-self: flex-end;
      flex: 0 0 354px;
      width: 354px;
      height: 422px;
      margin-top: -5px;
      margin-right: calc(-117px / 840px * 100%);
    }
  }
}