.item-fact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    text-transform: uppercase;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    letter-spacing: 0.14em;
    color: transparent;
    background: var(--color-linear);
    background-clip: text;

    margin-bottom: 12px;
  }

  &__num {
    font-size: clamp(2rem, 0.898rem + 2.71vw, 3rem);
    font-weight: 600;
    line-height: normal;
  }
}
