.item-pricing {
  display: flex;
  gap: 16px;
  max-width: 640px;

  &__icon {
    font-size: 11px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    background: linear-gradient(
      var(--color-grey-100),
      var(--color-grey-100)
    ) padding-box,
    var(--color-linear) border-box;
  }

  &__content {
    flex: 1;
  }

  &__title {
    margin-bottom: 12px;
    font-size: 18px;
  }

  &__text {
    line-height: 28px;
  }
}