.service {
  margin-bottom: 150px;

	&__container {
	}

	&__top {
    margin-bottom: 46px;
    display: flex;
    gap: 12px 20px;
    justify-content: space-between;

    @media (max-width: 980px) {
      flex-direction: column;
      margin-bottom: 24px;
    }
	}

	&__title-column {
	}

	&__title {
    margin-bottom: 12px;
	}

	&__subtitle {
	}

	&__text {
    position: relative;
    margin-right: 42px;
    max-width: 625px;

    &::before {
      content: '';
      position: absolute;
      height: 199px;
      width: 454px;
      top: 0;
      right: -213px;
      z-index: -1;
      background: url(../img/bg/light.svg) no-repeat center / contain;
      filter: blur(105px);
    }
	}

	&__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px 36px;
    padding-bottom: 114px;

    @media (max-width: 1150px) {
      padding-bottom: 0;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 720px) {
      grid-template-columns: 1fr;
    }
	}

	&__card {

    &:nth-child(3n-1) {
      transform: translateY(57px);
    }
    &:nth-child(3n) {
      transform: translateY(114px);
    }

    @media (max-width: 1150px) {
      &:nth-child(3n-1), &:nth-child(3n) {
        transform: none;
      }
    }
	}
}