.team {
  margin-bottom: 100px;

	&__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
	}

	&__title {
    margin-bottom: 12px;
    align-self: flex-start;
    margin-right: 180px;
	}

	&__subtitle {
    margin-bottom: clamp(2rem, 1.38rem + 1.53vw, 2.563rem);
    align-self: flex-start;
	}

	&__content {
    display: flex;
    justify-content: space-between;
    gap: 24px 9px;

    @media (max-width: 1240px) {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 24px;
    }

    @media (max-width: 680px) {
      display: flex;
      flex-direction: column;
    }
	}

	&__item {
	}

  &__seeall-btn {
    position: absolute;
    top: clamp(0.938rem, -0.577rem + 3.73vw, 2.313rem);
    right: 20px;

    @media (max-width: 680px) {
      position: relative;
      top: auto;
      right: auto;
      margin-top: 32px;
    }
  }
}