.video {
  position: relative;
  cursor: pointer;
  display: flex;
  width: 196px;
  height: 128px;
  overflow: hidden;
  z-index: 1;

  img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: .3s ease;
  }

  &::after {
    display: flex;
    font-family: fontello;
    content: '\e809';
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    line-height: 1;
    border: 1px solid white;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (any-hover: hover) {
    &:hover img {
      transform: scale(1.1);
    }
  }

  &__popup {
    position: fixed;
    cursor: default;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 161;
    padding: 20px;
    background: #0000006c;

    .player-video {
      width: 100%;
      max-width: 800px;
      max-height: 400px;
      aspect-ratio: 1 / 2;
      align-self: auto;
      box-shadow: 0 0 40px 20px #000;
    }

    &._visibled {
      display: flex;
    }
  }
}